<h1><%= @club.name %></h1>

<p><em>Name:</em> <%= @club.name %></p>
<p><em>City:</em> <%= @club.city %></p>

<p><a href="/clubs">Back to all Clubs</a></p>
<p><a href="/clubs/<%= @club.id %>/edit">Edit</a></p>
