<title> Sponsor </title>
<h1>Edit <%= @sponsor.name %></h1>

<form action="/sponsors/<%= @sponsor.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name:
    <input type="text" name="name" value="<%= @sponsor.name %>">
  </div>
  <div>
    Club:
    <input type="text" name="name" value="<%= @club_sponsors.name %>">
  </div>
  <div>
    <input type="submit" value="Update Sponsor">
  </div>
</form>
