<a href="/sponsors"> Sponsors  /   </a>
<a href="/clubs"> Clubs  /   </a>
<a href="/players"> Players  /   </a>
<a href="/"> Back to Main Menu</a>
<p></p>

<h1><%= @sponsor.name %></h1>

<p><em>Name:</em> <%= @sponsor.name %></p>


<p><a href="/sponsors">Back to all Sponsors</a></p>
<p><a href="/sponsors/<%= @sponsor.id %>/edit">Edit</a></p>
